:root {
  --green1: rgb(79, 153, 133);  /* top left d'un inlay */
  --green2: rgb(147,187,176);   /* couleur du footer */
  --green3: rgb(201,206,199);   /* couleur de la navbar */
  --green4: rgb(243, 255, 238); /* bottom right d'un inlay */
  --text1: rgb(0, 0, 0);
  --text2: rgb(255, 255, 255);
  --orange0: rgb(255, 203, 112);
  --orange1: rgb(255, 164, 8);
  --orange2: rgb(255, 119, 0);
  
  --thumbnailSize: 5rem;
  --thumbnailPadding: 0.7rem;
  --inlaySize: 2px;
  --hoverThickness: 5px;
  --lineThickness: 1px;
  --navHeight: calc(var(--thumbnailSize) / 2 - var(--thumbnailPadding));
  --selWidth: 10rem;
  --selHeight: 1.6rem;
  --footerHeight: 2.4rem;
  
  color: var(--text1);
  background-color: var(--green3);
  
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: Gputeks;   /* pour les titres */
  src: url('./fonts/Gputeks-Regular.ttf') format('truetype');
}

@font-face {
  font-family: GputeksBold;   /* pour les titres */
  src: url('./fonts/Gputeks-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Avenir;   /* pour le texte */
  src: url('./fonts/Avenir-Regular.ttf') format('truetype');
}

@font-face {
  font-family: AvenirBlack;   /* pour le texte */
  src: url('./fonts/Avenir-Black.ttf') format('truetype');
}

@font-face {
  font-family: InterThin;   /* en complément */
  src: url('./fonts/Inter-Thin.ttf') format('truetype');
}

body {
  margin: 0;
  width: 100%;      /* pour occuper toute la largeur de l'écran */
  height: 100vh;    /* pour occuper toute la hauteur de la fenêtre */
  min-width: 320px; /* à ajuster selon le rendu */
  font-family: Avenir, sans-serif;
}

nav {   /* barre de navigation */
  position: fixed;
  display: grid;
  grid-template-columns: var(--thumbnailSize) 1fr 1fr 1fr; /* vignette (de taille fixe) + 3 éléments de taille variable en fonction de la largeur d'écran */
  /*align-items: center;*/
  gap: 0;
  background: linear-gradient(to bottom, var(--green3), transparent);
  width: 100%;
  height: var(--navHeight);
  top: 0;
  font-family: GputeksBold, sans-serif;
}

.select {   /* sélecteur pour filtrer les projets en fonction des technos qu'ils utilisent */
  position: fixed;
  display: grid;
  gap: 0;
  background-color: var(--green3);
  width: var(--selWidth);
  left: 0;
  font-family: Gputeks, sans-serif;   /* ou GputeksBold ? */
}

footer {   /* pied de page */
  position: fixed;
  background: linear-gradient(to top, var(--green2), transparent);
  color: var(--text2);
  width: 100%;
  height: var(--footerHeight);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-family: Gputeks, sans-serif;
}

.coords, .rights {
  height: var(--footerHeight);
  padding-bottom: 1rem;
  align-items: end;  /* texte calé en bas */
  /* min-width: 7rem; */
}

.coords {
  padding-left: 1rem;
  text-align: start;  /* texte calé à gauche */
}

.rights {
  padding-right: 1rem;
  text-align: end;  /* texte calé à droite */
}

main {   /* partie centrale avec l'image de fond */
  display: flex;
  place-items: center center;
  padding-top: var(--navHeight); /* hauteur de la navbar */
  padding-bottom: var(--footerHeight); /* hauteur du footer */
  height: calc(100vh - var(--navHeight) - var(--footerHeight));
  overflow-y: auto; /* permet le défilement si le contenu dépasse la hauteur disponible */
  overflow-x: hidden;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: GputeksBold, sans-serif;
  font-size: 3.6em;
  color: var(--orange1);
}

h2 {
  font-family: InterThin, sans-serif;
  font-size: 3em;
  color: var(--text2);
}

h3 {
  font-family: GputeksBold, sans-serif;
  font-size: 2.6em;
  color: var(--orange1);
}

h4 {
  font-family: GputeksBold, sans-serif;
  font-size: 1.8em;
  color: var(--orange1);
}

h5 {
  font-family: InterThin, sans-serif;
  font-size: 1.6em;
  color: var(--text2);
}

a {
  text-decoration: none;   /* pour enlever le soulignage des liens */
}

.inlay-effect {   /* donne un effet d'incrustation à l'élément auquel cette classe est appliquée (image par exemple) */
  content: "";    /* pour pouvoir visualiser le dégradé */
  background: linear-gradient(to bottom right, var(--green1), var(--green4));
  padding: var(--inlaySize);
  /* width: var(--thumbnailSize);    /* modifier à la taille souhaitée */
  /* height: var(--thumbnailSize);   /* (par défaut: taille de la vignette) */
}

.round {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.thumbnail, .thumbnail2 {   /* vignette (photo de profil) */
  position: fixed;
  top: calc(var(--thumbnailPadding) - var(--inlaySize));
  left: calc(var(--thumbnailPadding) - var(--inlaySize));
  width: calc(var(--thumbnailSize) - 2 * var(--thumbnailPadding));
  height: calc(var(--thumbnailSize) - 2 * var(--thumbnailPadding));
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.thumbnail {   /* cette vignette renvoie sur la page d'accueil (qui, dans le cas présent, n'est pas la page courante) */
  cursor: pointer;  /* doigt: pour indiquer que l'élément est cliquable */
}

.thumbnail:hover {   /* survol de la vignette */
  padding: 0;   /* pour cercler l'image-même et non pas l'inlay */
  top: calc(var(--thumbnailPadding) - var(--hoverThickness));
  left: calc(var(--thumbnailPadding) - var(--hoverThickness));
  width: calc(var(--thumbnailSize) - 2 * var(--thumbnailPadding));
  height: calc(var(--thumbnailSize) - 2 * var(--thumbnailPadding));
  border: var(--hoverThickness) solid var(--orange1);
}

.initials {   /* initiales qui apparaissent après la transition sur la photo de profil */
  position: fixed;
  top: 0.2rem;
  left: 0;
  width: var(--thumbnailSize);
  height: var(--thumbnailSize);
  border-bottom-right-radius: 100% 50%;  /* détail esthétique au cas où une couleur de fond serait ajoutée */
  /* background: linear-gradient(to bottom, var(--green3), transparent); */
  color: var(--text2);
  font-size: 2.2em;
  font-weight: bolder;
}

.thumbnail2 {   /* cette vignette n'est pas cliquable (on est déjà dans la page d'accueil) */
  z-index: 2;   /* elle cache les initiales avant son déplacement au centre de la page */
}

.item, .current {           /* élément de navigation ou de sélection */
  position: relative;       /* en relation avec le :before en position absolue */
  display: flex;
  justify-content: center;  /* centrage horizontal */
  align-items: center;      /* centrage vertical */
  padding: 0.4rem 1rem;
}

.item {    
  cursor: pointer;  /* doigt: pour indiquer que l'élément est cliquable */
  background-color: var(--green3);
  color: var(--text1);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.current {
  cursor: default;  /* car il est inutile de cliquer l'élément courant */
  background-color: var(--orange1);
  color: var(--text2);
}

.nav {
  border-bottom: var(--lineThickness) solid var(--orange1); /* ligne de séparation entre le navigateur et le reste de la page */
  height: var(--navHeight);
}

.sel {
  border-right: var(--lineThickness) solid var(--orange1); /* ligne de séparation entre le sélecteur et le reste de la page */
  width: var(--selWidth);
  height: var(--selHeight);
}

nav .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(var(--hoverThickness) - var(--lineThickness));
  left: 0;
  bottom: 0;  /* surlignage aligné avec le bas des items */
  background-color: var(--orange1);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

nav .item:hover::before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.select .item::before {
  content: "";
  position: absolute;
  height: 100%;
  width:  calc(var(--hoverThickness) - var(--lineThickness));
  top: 0;
  right: 0;  /* surlignage aligné avec la droite des items */
  background-color: var(--orange1);
  visibility: hidden;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.select .item:hover::before {
  visibility: visible;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
}

/* ================= AJUSTEMENTS EN FONCTION DE LA TAILLE DE FENETRE ================= */

/* Aligner les coordonnées les unes sous les autres si largeur < 750px */

@media screen and (max-width: 810px) {
  main {
    background: var(--orange0);   /* pour signaler le travail à finir */
  }
}





/* ================= AJOUTS POUR FAIRE DES TESTS ================= */

.question {
  color: var(--text2);
  margin-left: 20rem;
}

.photo{
  opacity: 1;
}

.job1, job2, job3 {
  display: inline;
  opacity: 1;
}

.job4{
  opacity: 1;
}
